<div id="appHeader" class="palm-header">
	<div class="palm-header-wrapper" >
		<div class="title center">Record Keeping</div>
	</div>
</div>

<div id="palm-header-spacer" class="palm-header-spacer"></div>
<div style="text-align: center">Tap to Map the Location</div>
<div id="alltimeTopGroup" class="palm-group recordGroup">
	<div class="palm-group-title">Top Speed</div>
	<div id="alltimeTopSpeed" class="data record"></div>
	<div id="alltimeTopSpeedDate" class="data record"></div>
</div>
<div id="alltimeHighGroup" class="palm-group recordGroup">
	<div class="palm-group-title">Highest Elevation</div>
	<div id="alltimeHigh" class="data record"></div>
	<div id="alltimeHighDate" class="data record"></div>
</div>
<div id="alltimeLowGroup" class="palm-group recordGroup">
	<div class="palm-group-title">Lowest Elevation</div>
	<div id="alltimeLow" class="data record"></div>
	<div id="alltimeLowDate" class="data record"></div>
</div>
