#goButton {
	position: absolute;
	z-index: 5;
	width: 100px;
}
#ship {
	color: red;
	position: absolute;
	top: 59px;
	width: 13px;
	-webkit-transition-property: left;
	-webkit-transition-duration: .25s;
}
.layer {
	position: absolute;
	height: 20px;
	background-color: green;
	-webkit-transition-property: top;
	-webkit-transition-duration: .25s;
}
.hidden { display: none }