<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div id="title" class="title left">
			Tap Tempo
		</div>
	</div>
</div>
<div class="palm-text-wrapper">Tap the screen, or use any key</div>

<div id="tempoGroup" class="palm-group">
	<div class="palm-group-title">   
		<div id="currentTitle">Average Tempo</div>
	</div>
	<div id="avgTempo" class="tempo" >&nbsp;</div>
</div>

<div id="accelGroup" class="palm-group">
	<div class="palm-group-title">   
		<div id="currentTitle">Current Tempo</div>
	</div>
	<div id="currentTempo" class="tempo">&nbsp;</div>
</div>	

<div id="resetLine1">Wait</div>
<div id="resetLine2">seconds to reset</div>
<div id="resetDuration" x-mojo-element="IntegerPicker"></div>
<div id="resetDuration2" x-mojo-element="IntegerPicker"></div>

<div id="currentNumLine1">Current BPM = Last</div>
<div id="currentNumLine2">beats</div>
<div id="currentNumPicker" x-mojo-element="IntegerPicker"></div>
