<div id="testOutput">asdf</div>
<div id="appHeader" class="palm-header" x-mojo-touch-feedback="immediate">
	<div class="palm-header-wrapper title center" >FreeFall</div>
	<div id="clock"></div>
</div>

<div id="layer1" class="layer">
	<div id="multi1" class="hidden multi">*</div>
	<div id="trail1" class="hidden trail">.</div>
</div>
<div id="layer2" class="layer">
	<div id="multi2" class="hidden multi">*</div>
	<div id="trail2" class="hidden trail">.</div>
	</div>
<div id="layer3" class="layer">
	<div id="multi3" class="hidden multi">*</div>
	<div id="trail3" class="hidden trail">.</div>
</div>
<div id="layer4" class="layer">
	<div id="multi4" class="hidden multi">*</div>
	<div id="trail4" class="hidden trail">.</div>
</div>
<div id="layer5" class="layer">
	<div id="multi5" class="hidden multi">*</div>
	<div id="trail5" class="hidden trail">.</div>
</div>
<div id="layer6" class="layer">
	<div id="multi6" class="hidden multi">*</div>
	<div id="trail6" class="hidden trail">.</div>
</div>
<div id="layer7" class="layer">
	<div id="multi7" class="hidden multi">*</div>
	<div id="trail7" class="hidden trail">.</div>
</div>
<div id="layer8" class="layer">
	<div id="multi8" class="hidden multi">*</div>
	<div id="trail8" class="hidden trail">.</div>
</div>
<div id="layer9" class="layer">
	<div id="multi9" class="hidden multi">*</div>
	<div id="trail9" class="hidden trail">.</div>
</div>
<div id="layer10" class="layer">
	<div id="multi10" class="hidden multi">*</div>
	<div id="trail10" class="hidden trail">.</div>
</div>
<div id="layer11" class="layer">
	<div id="multi11" class="hidden multi">*</div>
	<div id="trail11" class="hidden trail">.</div>
</div>
<div id="layer12" class="layer">
	<div id="multi12" class="hidden multi">*</div>
	<div id="trail12" class="hidden trail">.</div>
</div>
<div id="layer13" class="layer">
	<div id="multi13" class="hidden multi">*</div>
	<div id="trail13" class="hidden trail">.</div>
</div>
<div id="layer14" class="layer">
	<div id="multi14" class="hidden multi">*</div>
	<div id="trail14" class="hidden trail">.</div>
</div>
<div id="layer15" class="layer">
	<div id="multi15" class="hidden multi">*</div>
	<div id="trail15" class="hidden trail">.</div>
</div>
<div id="layer16" class="layer">
	<div id="multi16" class="hidden multi">*</div>
	<div id="trail16" class="hidden trail">.</div>
</div>
<div id="layer17" class="layer">
	<div id="multi17" class="hidden multi">*</div>
	<div id="trail17" class="hidden trail">.</div>
</div>
<div id="layer18" class="layer">
	<div id="multi18" class="hidden multi">*</div>
	<div id="trail18" class="hidden trail">.</div>
</div>
<div id="layer19" class="layer">
	<div id="multi19" class="hidden multi">*</div>
	<div id="trail19" class="hidden trail">.</div>
</div>

<div x-mojo-element="Button" id="goButton"></div>

<div id="ship">&yen;</div>

<div id="bottomInfo">
	<div align="center" id="level" class="bottom">Level:</div>
	<div align="center" id="score" class="bottom">Score:</div>
	<div align="center" id="multiplier" class="bottom">Multiplier:</div>
</div>