<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">
			<div id="metroTitle">Metronome</div>
		</div>
	</div>
</div>
<div>
	<div id="metroStartStop" x-mojo-element="Button"></div>
</div>
<div id="metroSetTempoMessage">Tempo</div>
<div id="setMetroTempo" x-mojo-element="IntegerPicker"></div>
<div id="metroSetMeasureMessage">Beats Per Measure</div>
<div id="setMetroMeasure" x-mojo-element="IntegerPicker"></div>
<div id="metroTempoMarkingsButton" x-mojo-element="Button"></div>
<div id="metroTempoMarkingsWindow" class="palm-group hidden">
	<div class="palm-group-title">   
		<div>Tempo Markings</div>
	</div>
	<div>30-40bpm - Largamente</div>
	<div>40-60bpm - Largo</div>
	<div>60-66bpm - Larghetto</div>
	<div>66-76bpm - Adagio</div>
	<div>76-80bpm - Adagietto</div>
	<div>80-107bpm - Andante</div>
	<div>107-120bpm - Moderato</div>
	<div>120-168bpm - Allegro</div>
	<div>168-200bpm - Presto</div>
	<div>200+bpm - Prestissimo</div>
	<div id="metroTempoMarkingsOkButton" x-mojo-element="Button"></div>
</div>
<div id="metroBeatSetupButton" x-mojo-element="Button"></div>
<div id="metroBeatSetupWindow" class="palm-group hidden">
	<div class="palm-group-title">   
		<div>Beat Setup</div>
	</div>
	<div id="metroBeatOff" class="metroBeatLegend">Off</div>
	<div id="metroBeatOn" class="metroBeatLegend">On</div>
	<div id="metroBeatAccented" class="metroBeatLegend">Accented</div>
	<div>
		<div id="metroBeatSetupMeasure1" x-mojo-element="Button" class="metroBeatButton hidden"></div>
		<div id="metroBeatSetupMeasure2" x-mojo-element="Button" class="metroBeatButton hidden"></div>
		<div id="metroBeatSetupMeasure3" x-mojo-element="Button" class="metroBeatButton hidden"></div>
		<div id="metroBeatSetupMeasure4" x-mojo-element="Button" class="metroBeatButton hidden"></div>
	</div>
	<div>
		<div id="metroBeatSetupMeasure5" x-mojo-element="Button" class="metroBeatButton hidden"></div>
		<div id="metroBeatSetupMeasure6" x-mojo-element="Button" class="metroBeatButton hidden"></div>
		<div id="metroBeatSetupMeasure7" x-mojo-element="Button" class="metroBeatButton hidden"></div>
		<div id="metroBeatSetupMeasure8" x-mojo-element="Button" class="metroBeatButton hidden"></div>
	</div>
	<div>
		<div id="metroBeatSetupMeasure9" x-mojo-element="Button" class="metroBeatButton hidden"></div>
		<div id="metroBeatSetupMeasure10" x-mojo-element="Button" class="metroBeatButton hidden"></div>
		<div id="metroBeatSetupMeasure11" x-mojo-element="Button" class="metroBeatButton hidden"></div>
		<div id="metroBeatSetupMeasure12" x-mojo-element="Button" class="metroBeatButton hidden"></div>
	</div>
	<div id="metroBeatSetupOkButton" x-mojo-element="Button"></div>
</div>
<div id="metroAlertBox" class="palm-group">
	<div class="palm-group-title">   
		<div>Types of Alerts</div>
	</div>
	<div class="metroAlertUnit">
		<div class="title">Visible</div>
		<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertVisable"></div>
	</div>
	<div class="metroAlertUnit">
		<div class="title">Audible</div>
		<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertAudible"></div>
	</div>
	<div class="metroAlertUnit">
		<div class="title">Vibrate</div>
		<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertVibration"></div>
	</div>
</div>
<div id="metroVisualAlert" class="hidden">
	<div id="metroVisualAlertNum"></div>
	<!--<img id="metroSwingingArm" src="images/pend.png"></img>-->
</div>










