<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title" style="float: left;">New High Score!</div>
	<div class="palm-dialog-title" style="float: left; margin-left: 10px; margin-right: 60px" id="newHighScore"></div>
	<div class="palm-dialog-title" style="margin-top: 10px">Please Enter Your Name</div>
	<div class="palm-dialog-separator"></div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label">Name</div>
           <div id="username" name="username" x-mojo-element="TextField"></div>
		</div>	
    </div>
</div>

<div class="palm-dialog-buttons">
	<div id="dialogOkButton" class="palm-button" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Ok
		</div>
    </div>
    <div id="dialogCancelButton" class="palm-button" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Cancel
		</div>
    </div>
</div>