#announce {
	text-align: center;
	margin-top: 50px;
}
#speed {
	margin-top: 50px;
	margin-left: 20px;
	font-size: 150%;
}
.announcement {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 150%;
}