.hidden { display: none; }

/*
 * Title bar for the Current info box
 */
#currentTitle {
	float: left;
}
#currentSpeedHead {
	float: left;
	font-size: small;
	width: 20%;
	margin-right: 3px;
	text-align: right;
	margin-top: 1px;
}
#topSpeed {
	font-size: small;
	float: left;
	width: 58px;
}

/*
 * Elements within Trip & Current info boxes
 */
.heading {
	font-weight: bold;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}
.data {
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

#speedHead	{ margin-top: 9px}
#speed		{ font-size: 150%; width: 130px; }

#altHead.landscape {
	margin-top: 9px; 
}
#altitude	{ 
	width: 115px; 
}
#altitude.landscape {
	margin-top: 9px;
}

#heading {
	margin-top: 9px;
	margin-bottom: 10px;
	text-align: center;
	width: 62px;
}


#avgSpeed	{ width: 71px; }
#distTraveled {	width: 100px; }
#distFromInit {	width: 81px; }
#lifeDist { width: 100px; }

/*
 * Current info Display
 */

#currentInfo 			{ height: 78px; }
#currentInfo.landscape	{ height: 35px; }


/*
 * Title bar for the Trip info box
 */
#tripTitle { float: left; }
#tripDuration {
	text-align: right;
	margin-right: 20px;
	margin-top: 1px;
	font-size: small;
	float: right;
}

/*
 * Trip info Display
 */

#tripInfo{
	letter-spacing: .1em;
	height: 90px;
	font-size: medium;
}
#tripInfo.landscape {
	margin-right: 0;
	width: 52%;
	float: left;
}

/*
 * Address info Display
 */
#addressInfo.landscape {
	font-size: medium;
	width: 39%;
	float: left;
}

#address {
	margin-top: 5px;	
}

/*
 * Initial announcement & high error warning
 */
#initialDisplay {
	text-align: center;
	margin-top: 40px;
}

#initialDisplay.landscape {
	margin-top: 60px;
}
