<div id="appHeader" class="palm-header" x-mojo-touch-feedback="immediate">
	<div class="palm-header-wrapper title center" >GPS Dashboard+</div>
	<div id="one" class="strength"></div>
	<div id="two" class="strength"></div>
	<div id="three" class="strength"></div>
	<div id="four" class="strength"></div>
	<div id="five" class="strength"></div>
	<div id="clock" class="hidden"></div>
</div>
<div id="palm-header-spacer" class="palm-header-spacer"></div>


<div id="scrim">
	<div id="spinner" x-mojo-element="Spinner"></div>
</div>

<div id="initialDisplay">Getting GPS information...</div>

<div id="currentInfo" class="palm-group hidden">
	<div class="palm-group-title">   
		<div id="currentTitle">Current Information</div>
		<div id="currentSpeedHead">Top:</div>
		<div id="topSpeed"></div> 
	</div>
	<div class="heading">Speed:</div>
		<div id="speed" class="data"></div>
	<div id="heading" class="data"></div>
	<div class="heading">Altitude:</div>
		<div id="altitude" class="data"></div>
</div>

<div id="tripInfo" class="palm-group hidden">
	<div class="palm-group-title">   
		<div id="tripTitle">Trip Information</div>
		<div id="tripDuration"></div> 
	</div>
	<div id="lowAccuracy">
		<div>Satellite strength is too low to gather accurate trip information.</div>
		<div>Be sure your phone has a clear view of the sky, or adjust Max Error in prefs.</div>
		<div id="horizAccuracy"></div>
	</div>
	<div id="tripInfoData" class="hidden">
		<div class="heading">Avgerage Speed</div>
			<div id="avgSpeed" class="data"></div>
		<div class="heading">Dist. Traveled:</div>
			<div id="distTraveled" class="data"></div>
		<div class="heading">Dist. from First Pos.:</div>
			<div id="distFromInit" class="data"></div>
		<div class="heading">Lifetime Distance:</div>
			<div id="lifeDist" class="data"></div>
	</div>
</div>

<div id="speedometer" class="hidden">
	<div id="speedometerSpeed"></div>
	<div id="speedometerHeading"></div>
	<div id="speedometerTripometer"></div>
	<div id="label0" class="speedCenter">0</div>
	<div id="label10" class="speedCenter">10</div>
	<div id="label20" class="speedCenter">20</div>
	<div id="label30" class="speedCenter">30</div>
	<div id="label40" class="speedCenter">40</div>
	<div id="label50" class="speedCenter">50</div>
	<div id="label60" class="speedCenter">60</div>
	<div id="label70" class="speedCenter">70</div>
	<div id="label80" class="speedCenter">80</div>
	<div id="label90" class="speedCenter">90</div>
	<div id="label100" class="speedCenter">100</div>
	<div id="label110" class="speedCenter">110</div>
	<div id="label120" class="speedCenter">120</div>
	<div id="label130" class="speedCenter">130</div>
	<div id="label140" class="speedCenter">140</div>
	<div id="label150" class="speedCenter">150</div>
	<div id="label160" class="speedCenter">160</div>
	<div id="negThirty" class="hash speedCenter"></div>
	<div id="negFifteenFive" class="hash speedCenter"></div>
	<div id="negFifteen" class="hash speedCenter"></div>
	<div id="negFive" class="hash speedCenter"></div>
	<div id="zero" class="hash speedCenter"></div>
	<div id="zeroFive" class="hash speedCenter"></div>
	<div id="fifteen" class="hash speedCenter"></div>
	<div id="fifteenFive" class="hash speedCenter"></div>
	<div id="thirty" class="hash speedCenter"></div>
	<div id="thirtyFive" class="hash speedCenter"></div>
	<div id="fourtyfive" class="hash speedCenter"></div>
	<div id="fourtyfiveFive" class="hash speedCenter"></div>
	<div id="sixty" class="hash speedCenter"></div>
	<div id="sixtyFive" class="hash speedCenter"></div>
	<div id="seventyfive" class="hash speedCenter"></div>
	<div id="seventyfiveFive" class="hash speedCenter"></div>
	<div id="ninety" class="hash speedCenter"></div>
	<div id="ninetyFive" class="hash speedCenter"></div>
	<div id="oneohfive" class="hash speedCenter"></div>
	<div id="oneohfiveFive" class="hash speedCenter"></div>
	<div id="onetwenty" class="hash speedCenter"></div>
	<div id="onetwentyFive" class="hash speedCenter"></div>
	<div id="onethirtyfive" class="hash speedCenter"></div>
	<div id="onethirtyfiveFive" class="hash speedCenter"></div>
	<div id="onefifty" class="hash speedCenter"></div>
	<div id="onefiftyFive" class="hash speedCenter"></div>
	<div id="onesixtyfive" class="hash speedCenter"></div>
	<div id="onesixtyfiveFive" class="hash speedCenter"></div>
	<div id="oneeighty" class="hash speedCenter"></div>
	<div id="oneeightyFive" class="hash speedCenter"></div>
	<div id="onefifteen" class="hash speedCenter"></div>
	<div id="onefifteenFive" class="hash speedCenter"></div>
	<div id="onethirty" class="hash speedCenter"></div>
</div>

<div id="addressInfo" class="hidden">
	<div x-mojo-element="Button" id="addressButton"></div>
	<div id="address" class="palm-group hidden">
		<div class="palm-group-title">Address</div>
		<div id="address1"></div>
		<div id="address2"></div>
	</div>
</div>
