<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">
			<div id="pitchTitle">Pitch Pipe</div>
		</div>
	</div>
</div>
<!-- <div id="pitchTunerSelector" x-mojo-element="RadioButton"></div> -->
<div id="pitchPitch">
	<div id="pitchKeyGroup" class="palm-group">
		<div class="palm-group-title">   
			<div id="pitchKeyGroupTitle">Pitch</div>
		</div>
		<div id="pitchKeySelector" x-mojo-element="ListSelector"></div>
		<div id="pitchOctaveSelector" x-mojo-element="ListSelector"></div>
	</div>
	<div id="pitchDurationSelectionline1">Play tone for</div>
	<div id="pitchDurationSelectionline2">seconds</div>
	<div id="pitchDurationSelector" x-mojo-element="IntegerPicker"></div>
	<div id="pitchStart" x-mojo-element="Button"></div>
</div>
<div id="pitchTuner">
</div>
