<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">
			<div class="floatLeft">&laquo;</div>
			<div id="metroTitle">Metronome</div>
		</div>
	</div>
</div>
<div>
	<div id="metroStartStop" x-mojo-element="Button"></div>
	<div id="metroAvgGroup" class="palm-group floatLeft metroTapGroup">
		<div class="palm-group-title">   
			<div id="avgTitle">Average Tempo</div>
		</div>
		<div id="metroAvgTempo" class="metroTempo">&nbsp;</div>
	</div>
	<div id="metroCurrentGroup" class="palm-group floatLeft metroTapGroup">
		<div class="palm-group-title">   
			<div id="currentTitle">Current Tempo</div>
		</div>
		<div id="metroCurrentTempo" class="metroTempo">&nbsp;</div>
	</div>
</div>
<div id="metroSetTempoMessage">Tap above to set tempo</div>
<div id="setMetroTempo" x-mojo-element="IntegerPicker"></div>
<div id="metroSetMeasureMessage">Beats Per Measure</div>
<div id="setMetroMeasure" x-mojo-element="IntegerPicker"></div>

<div id="metroAlertBox" class="palm-group">
	<div class="palm-group-title">   
		<div>Types of Alerts</div>
	</div>
	<div class="metroAlertUnit">
		<div class="title">Visable</div>
		<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertVisable"></div>
	</div>
	<div class="metroAlertUnit">
		<div class="title">Audible</div>
		<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertAudible"></div>
	</div>
	<div class="metroAlertUnit">
		<div class="title">Vibrate</div>
		<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertVibration"></div>
	</div>
</div>
<div id="metroVisualAlert" class="hidden">
	<div id="metroVisualAlertNum"></div>
</div>