<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">
			<div id="metroTitle">Metronome</div>
		</div>
	</div>
</div>
<div>
	<div id="metroStartStop" x-mojo-element="Button"></div>
</div>
<div id="metroSetTempoMessage">Tempo</div>
<div id="setMetroTempo" x-mojo-element="IntegerPicker"></div>
<div id="metroSetMeasureMessage">Beats Per Measure</div>
<div id="setMetroMeasure" x-mojo-element="IntegerPicker"></div>
<div id="metroBeatSetupButton" x-mojo-element="Button"></div>
<div id="metroBeatSetupWindow">
	<div id="metroBeatSetupMeasure1" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure2" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure3" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure4" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure5" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure6" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure7" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure8" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure9" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure10" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure11" x-mojo-element="Button" class="hidden"></div>
	<div id="metroBeatSetupMeasure12" x-mojo-element="Button" class="hidden"></div>
</div>
<div id="metroAlertBox" class="palm-group">
	<div class="palm-group-title">   
		<div>Types of Alerts</div>
	</div>
	<div class="metroAlertUnit">
		<div class="title">Visable</div>
		<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertVisable"></div>
	</div>
	<div class="metroAlertUnit">
		<div class="title">Audible</div>
		<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertAudible"></div>
	</div>
	<div class="metroAlertUnit">
		<div class="title">Vibrate</div>
		<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertVibration"></div>
	</div>
</div>
<div id="metroVisualAlert" class="hidden">
	<div id="metroVisualAlertNum"></div>
</div>