<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="icon">
			<div class="title">
				Preferences			
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Options</div>
	<div class="palm-list">
		<div class="palm-row first" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="unitsSelector" x-mojo-element="ListSelector"></div>                                                   
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="backlightSelector" x-mojo-element="ListSelector"></div>
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="maxErrorPrefSelector" x-mojo-element="ListSelector"></div>
			</div>
		</div>
		<div class="palm-row last" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="avgSpeedPref" x-mojo-element="ListSelector"></div>   
			</div>
		</div>
	</div>     	
</div>
