.hidden { display: none }

#appHeader { z-index: 5 }
#clock {
	z-index: 6;
	position: absolute;
	top: 1px;
	left: 15px;
	color: #e0e0e0;
}

#goButton {
	position: absolute;
	z-index: 5;
	width: 100px;
}
#ship {
	color: red;
	position: absolute;
	top: 59px;
	width: 13px;
	-webkit-transition-property: left;
	-webkit-transition-duration: .25s;
}
.obstacle {
	height: 20px;
}
.layer {
	position: absolute;
	height: 20px;
	background-color: green;
	-webkit-transition-property: top;
	-webkit-transition-duration: .25s;
}

#bottomInfo {
	background-color: red;
	position: absolute;
	top: 295px;
}
.bottom {
	float: left;
}
