#goButton {
	position: absolute;
	z-index: 5;
	width: 100px;
}
#ship {
	color: red;
	position: absolute;
	top: 59px;
	width: 13px;
}
.layer {
	height: 20px;
	border: solid;
	border-color: blue;
	border-top: 0px;
	border-bottom: 0px;
	-webkit-transition-property: border;
	-webkit-transition-duration: .25s;
}
.hidden { display: none }
