<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="icon">
			<div class="title">
				Preferences			
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Dashboard View (First 3 Displayed)</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="left" id="dashAvgSpeed"></div>
				<div class="title">Average Speed</div>
			</div>			
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="left" id="dashTopSpeed"></div>
				<div class="title">Top Speed</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="left" id="dashDistTraveled"></div>
				<div class="title">Distance Traveled</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="left" id="dashDistFromInit"></div>
				<div class="title">Dist from Initial Position</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="left" id="dashLifeDist"></div>
				<div class="title">Lifetime Distance</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="left" id="dashTripDuration"></div>
				<div class="title">Trip Duration</div>
			</div>			
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Options</div>
	<div class="palm-list">
		<div class="palm-row first" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="startupPref" x-mojo-element="ListSelector"></div>                                                   
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="unitsSelector" x-mojo-element="ListSelector"></div>                                                   
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="backlightSelector" x-mojo-element="ListSelector"></div>
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="maxErrorPrefSelector" x-mojo-element="ListSelector"></div>
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="shakePref" x-mojo-element="ListSelector"></div>
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="coloredSpeedPref" x-mojo-element="ListSelector"></div>
			</div>
		</div>
		<div class="palm-row last" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="avgSpeedPref" x-mojo-element="ListSelector"></div>   
			</div>
		</div>
	</div>     	
</div>
