#appHeader {
	z-index: 1;
}
.strength {
	position: absolute;
	width: 5px;
	z-index: 2;
	background-color: grey;	
}
.lit { background-color: #e0e0e0; }

#one {
	top: 33px;
	right: 54px;
	height: 3px;
}
#two {
	top: 28px;
	right: 48px;
	height: 8px;
}
#three {
	top: 23px;
	right: 42px;
	height: 13px;
}
#four {
	top: 18px;
	right: 36px;
	height: 18px;
}
#five {
	top: 13px;
	right: 30px;
	height: 23px;
}


.hidden { opacity: 0 }
/*
 * Settings for the Records section
 */
.record { text-align: center; }
.recordGroup { height: 25px }

/*
 * Title bar for the Current info box
 */
#currentTitle { float: left; }
#currentSpeedHead {
	float: left;
	font-size: small;
	width: 20%;
	margin-right: 3px;
	text-align: right;
	margin-top: 1px;
}
#topSpeed {
	margin-top: 1px;
	font-size: small;
	float: left;
	width: 58px;
}
/*
 * Title bar for the Trip info box
 */
#tripTitle { float: left; }
#tripDuration {
	text-align: right;
	margin-right: 20px;
	margin-top: 1px;
	font-size: small;
	float: right;
}
/*
 * Elements within Trip & Current info boxes
 */
.heading {
	font-weight: bold;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}
.data {
	width: 45%;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
#heading {
	text-align: center;
	width: 53px;
}
#speed 			{ width: 95px; }
#speed.red		{ color: red; }
#speed.green	{ color: green; }
#avgSpeed 		{ width: 71px; }
#altitude 		{ width: 98px; }
#distTraveled 	{ width: 100px; }
#distFromInit 	{ width: 81px; }
#lifeDist 		{ width: 100px; }

/*
 * Current info Display
 */
#currentInfo 			{ height: 60px; }
#currentInfo.landscape 	{ height: 30px; }

/*
 * Trip info Display
 */
#tripInfo{
	letter-spacing: .1em;
	height: 90px;
	font-size: medium;
}
#tripInfo.landscape {
	margin-right: 0;
	width: 52%;
	float: left;
}

/*
 * Address info Display
 */
#addressInfo.landscape {
	font-size: medium;
	width: 39%;
	float: left;
}
#address 		{ margin-top: 5px; }

/*
 * Initial announcement & high error warning
 */
#initialDisplay {
	text-align: center;
	margin-top: 30px;
}
#initialDisplay.landscape	{ margin-top: 10px;}