body {
	font: Helvetica;
	margin-left: 5%;
	margin-right: 5%;
}
h2 {
	color: blue;
}
.menu {
	text-align: center;
	margin-top: 10px;
}

#description {
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

