<div id="appHeader" class="palm-header">
	<div class="palm-header-wrapper title center" >FreeFall - Top Scores</div>
</div>

<div class="palm-header-spacer"></div>

<div id="scoreTable">
	<div class="topNameHead">Name</div><div class="topScoreHead">Score</div><div class="topDateHead">Date</div>
	<div id="name1" class="topName"></div><div id="score1" class="topScore"></div><div id="date1" class="topDate"></div>
	<div id="name2" class="topName"></div><div id="score2" class="topScore"></div><div id="date2" class="topDate"></div>
	<div id="name3" class="topName"></div><div id="score3" class="topScore"></div><div id="date3" class="topDate"></div>
	<div id="name4" class="topName"></div><div id="score4" class="topScore"></div><div id="date4" class="topDate"></div>
	<div id="name5" class="topName"></div><div id="score5" class="topScore"></div><div id="date5" class="topDate"></div>
	<div id="name6" class="topName"></div><div id="score6" class="topScore"></div><div id="date6" class="topDate"></div>
	<div id="name7" class="topName"></div><div id="score7" class="topScore"></div><div id="date7" class="topDate"></div>
	<div id="name8" class="topName"></div><div id="score8" class="topScore"></div><div id="date8" class="topDate"></div>
	<div id="name9" class="topName"></div><div id="score9" class="topScore"></div><div id="date9" class="topDate"></div>
	<div id="name10" class="topName"></div><div id="score10" class="topScore"></div><div id="date10" class="topDate"></div>
</div>

<div id="date1" class="topDate"></div>