<div id="tapTempoArea">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class="title left">
				<div class="floatLeft">&laquo;</div>
				<div id="tapTitle">Tap Tempo</div>
				<div class="floatRight">&raquo;</div>
			</div>
		</div>
	</div>
	<div class="palm-text-wrapper">Tap the screen, or use any key</div>
	
	<div id="avgGroup" class="palm-group">
		<div class="palm-group-title">   
			<div id="currentTitle">Average Tempo</div>
		</div>
		<div id="avgTempo" class="tempo floatLeft" >&nbsp;</div>
		<div id="avgLock" class="floatRight" x-mojo-element="ToggleButton"></div>
	</div>
	
	<div id="currentGroup" class="palm-group">
		<div class="palm-group-title">   
			<div id="currentTitle">Current Tempo</div>
		</div>
		<div id="currentTempo" class="tempo floatLeft">&nbsp;</div>
		<div id="currentLock" class="floatRight" x-mojo-element="ToggleButton"></div>
	</div>	
	
	<div id="resetLine1">Wait</div>
	<div id="resetLine2">seconds to reset/lock</div>
	<div id="resetDuration" x-mojo-element="IntegerPicker"></div>
	<div id="resetDuration2" x-mojo-element="IntegerPicker"></div>
	
	<div id="currentNumLine1">Current BPM = Last</div>
	<div id="currentNumLine2">beats</div>
	<div id="currentNumPicker" x-mojo-element="IntegerPicker"></div>
</div>

<div id="pitchPipeArea">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class="title left">
				<div id="pitchTitle">Pitch Pipe</div>
				<div class="floatRight">&raquo;</div>
			</div>
		</div>
	</div>

	<div id="pitchKeyGroup" class="palm-group">
		<div class="palm-group-title">   
			<div id="pitchKeyGroupTitle">Key</div>
		</div>
		<div id="pitchKeySelector" x-mojo-element="ListSelector"></div>
		<div id="pitchOctaveSelector" x-mojo-element="ListSelector"></div>
	</div>
	<div id="pitchDurationSelectionline1">Play tone for</div>
	<div id="pitchDurationSelectionline2">seconds</div>
	<div id="pitchDurationSelector" x-mojo-element="IntegerPicker"></div>
	<div id="pitchStart" x-mojo-element="Button"></div>
</div>

<div id="metronomeArea">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class="title left">
				<div class="floatLeft">&laquo;</div>
				<div id="metroTitle">Metronome</div>
			</div>
		</div>
	</div>
	<div>
		<div id="metroStartStop" x-mojo-element="Button"></div>
		<div id="metroAvgGroup" class="palm-group floatLeft metroTapGroup">
			<div class="palm-group-title">   
				<div id="avgTitle">Average Tempo</div>
			</div>
			<div id="metroAvgTempo" class="metroTempo">&nbsp;</div>
		</div>
		<div id="metroCurrentGroup" class="palm-group floatLeft metroTapGroup">
			<div class="palm-group-title">   
				<div id="currentTitle">Current Tempo</div>
			</div>
			<div id="metroCurrentTempo" class="metroTempo">&nbsp;</div>
		</div>
	</div>
	<div id="metroSetTempoMessage">Tap above to set tempo</div>
	<div id="setMetroTempo" x-mojo-element="IntegerPicker"></div>
	<div id="metroSetMeasureMessage">Beats Per Measure</div>
	<div id="setMetroMeasure" x-mojo-element="IntegerPicker"></div>

	<div id="metroAlertBox" class="palm-group">
		<div class="palm-group-title">   
			<div>Types of Alerts</div>
		</div>
		<div class="metroAlertUnit">
			<div class="title">Visable</div>
			<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertVisable"></div>
		</div>
		<div class="metroAlertUnit">
			<div class="title">Audible</div>
			<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertAudible"></div>
		</div>
		<div class="metroAlertUnit">
			<div class="title">Vibrate</div>
			<div x-mojo-element="CheckBox" class="left metroCheck" id="metroAlertVibration"></div>
		</div>
	</div>
	<div id="metroVisualAlert" class="hidden">
		<div id="metroVisualAlertNum"></div>
	</div>
</div>