<div id="appHeader" class="palm-header" x-mojo-touch-feedback="immediate">
	<div class="palm-header-wrapper title center" >GPS Dashboard+</div>
	<div id="one" class="strength"></div>
	<div id="two" class="strength"></div>
	<div id="three" class="strength"></div>
	<div id="four" class="strength"></div>
	<div id="five" class="strength"></div>
	<div id="clock" class="hidden"></div>
</div>
<div id="palm-header-spacer" class="palm-header-spacer"></div>


<div id="scrim">
	<div id="spinner" x-mojo-element="Spinner"></div>
</div>

<div id="initialDisplay">Getting GPS information...</div>

<div id="currentInfo" class="palm-group hidden">
	<div class="palm-group-title">   
		<div id="currentTitle">Current Information</div>
		<div id="currentSpeedHead">Top:</div>
		<div id="topSpeed"></div> 
	</div>
	<div class="heading">Speed:</div>
		<div id="speed" class="data"></div>
	<div id="heading" class="data"></div>
	<div id="altHead" class="heading">Altitude:</div>
		<div id="altitude" class="data"></div>
</div>
<div id="tripInfo" class="palm-group hidden">
	<div class="palm-group-title">   
		<div id="tripTitle">Trip Information</div>
		<div id="tripDuration"></div> 
	</div>
	<div id="lowAccuracy">
		<div>Satellite strength is too low to gather accurate trip info. Be sure</div>
		<div>your phone has a clear view of the sky, or adjust Max Error in prefs</div>
		<div id="horizAccuracy"></div>
	</div>
	<div id="tripInfoData" class="hidden">
		<div class="heading">Average Speed</div>
			<div id="avgSpeed" class="data"></div>
		<div class="heading">Dist. Traveled:</div>
			<div id="distTraveled" class="data"></div>
		<div class="heading">Dist. from First Pos.:</div>
			<div id="distFromInit" class="data"></div>
		<div class="heading">Lifetime Distance:</div>
			<div id="lifeDist" class="data"></div>
	</div>
</div>
<div id="speedometer" class="hidden">
	<div class="speedBox">
		<div align="center" id="speedometerSpeed"></div>
	</div>
	<div id="speedometerHeading"></div>
	<div id="speedometerTripometer"></div>
	<div id="label0" class="speedCenter label">0</div>
	<div id="label10" class="speedCenter label">10</div>
	<div id="label20" class="speedCenter label">20</div>
	<div id="label30" class="speedCenter label">30</div>
	<div id="label40" class="speedCenter label">40</div>
	<div id="label50" class="speedCenter label">50</div>
	<div id="label60" class="speedCenter label">60</div>
	<div id="label70" class="speedCenter label">70</div>
	<div id="label80" class="speedCenter label">80</div>
	<div id="label90" class="speedCenter label">90</div>
	<div id="label100" class="speedCenter label">100</div>
	<div id="label110" class="speedCenter label">110</div>
	<div id="label120" class="speedCenter label">120</div>
	<div id="label130" class="speedCenter label">130</div>
	<div id="label140" class="speedCenter label">140</div>
	<div id="label150" class="speedCenter label">150</div>
	<div id="label160" class="speedCenter label">160</div>
	<div id="hash0" class="hash speedCenter blackBack"></div>
	<div id="hash5" class="hash speedCenter blackBack"></div>
	<div id="hash10" class="hash speedCenter blackBack"></div>
	<div id="hash15" class="hash speedCenter blackBack"></div>
	<div id="hash20" class="hash speedCenter blackBack"></div>
	<div id="hash25" class="hash speedCenter blackBack"></div>
	<div id="hash30" class="hash speedCenter blackBack"></div>
	<div id="hash35" class="hash speedCenter blackBack"></div>
	<div id="hash40" class="hash speedCenter blackBack"></div>
	<div id="hash45" class="hash speedCenter blackBack"></div>
	<div id="hash50" class="hash speedCenter blackBack"></div>
	<div id="hash55" class="hash speedCenter blackBack"></div>
	<div id="hash60" class="hash speedCenter blackBack"></div>
	<div id="hash65" class="hash speedCenter blackBack"></div>
	<div id="hash70" class="hash speedCenter blackBack"></div>
	<div id="hash75" class="hash speedCenter blackBack"></div>
	<div id="hash80" class="hash speedCenter blackBack"></div>
	<div id="hash85" class="hash speedCenter blackBack"></div>
	<div id="hash90" class="hash speedCenter blackBack"></div>
	<div id="hash95" class="hash speedCenter blackBack"></div>
	<div id="hash100" class="hash speedCenter blackBack"></div>
	<div id="hash105" class="hash speedCenter blackBack"></div>
	<div id="hash110" class="hash speedCenter blackBack"></div>
	<div id="hash115" class="hash speedCenter blackBack"></div>
	<div id="hash120" class="hash speedCenter blackBack"></div>
	<div id="hash125" class="hash speedCenter blackBack"></div>
	<div id="hash130" class="hash speedCenter blackBack"></div>
	<div id="hash135" class="hash speedCenter blackBack"></div>
	<div id="hash140" class="hash speedCenter blackBack"></div>
	<div id="hash145" class="hash speedCenter blackBack"></div>
	<div id="hash150" class="hash speedCenter blackBack"></div>
	<div id="hash155" class="hash speedCenter blackBack"></div>
	<div id="hash160" class="hash speedCenter blackBack"></div>

	<img id="speedImgLight" class="needle" src="images/NeedleLight.png" alt="" />
	<img id="speedImgDark" class="needle hidden" src="images/NeedleDark.png" alt="" />
	<div id="border"></div>
</div>

<div x-mojo-element="FloatPicker" id="speedLimit" class="hidden"></div>
<div x-mojo-element="Button" id="reverse" class="hidden"></div>


<div id="addressInfo" class="hidden">
	<div x-mojo-element="Button" id="addressButton"></div>
	<div id="address" class="palm-group hidden">
		<div class="palm-group-title">Address</div>
		<div id="address1"></div>
		<div id="address2"></div>
	</div>
</div>