<div class="palm-header">
	<div class="palm-header-wrapper">
		<div class="title center">GPS Dashboard</div>
	</div>
</div>
<div id="palm-header-spacer" class="palm-header-spacer"></div>

<div id="scrim">
	<div id="spinner" x-mojo-element="Spinner"></div>
</div>

<div id="initialDisplay">
	<div id="announce">Getting GPS information...</div>
</div>

<div id="currentInfo" class="palm-group">
	<div class="palm-group-title">   
		<div id="currentTitle">Current Information</div>
		<div id="topSpeed"></div> 
		<div id="topSpeedHead">Top:</div>
	</div>

	<div id="speedHead" class="heading">Speed:</div>
		<div id="speed" class="data"></div>
		<div id="speedUnit" class="heading">&nbsp;</div>
	
		<div id="heading" class="data"></div>
	
	<div id="altHead" class="heading">Altitude:</div>
		<div id="altitude" class="data"></div>
</div>

<div id="tripInfo" class="palm-group">
	<div class="palm-group-title">   
		<div id="tripTitle">Trip Information</div>
		<div id="tripDuration"></div> 
	</div>
	<div id="lowAccuracy">
		<div>Satellite strength is too low to gather accurate trip information.</div>
		<div>Be sure your phone has a clear view of the sky, or adjust Max Error in prefs.</div>
		<div id="horizAccuracy"></div>
	</div>
	<div id="tripInfoData" class="hidden">
		<div id="tripAvgSpeedHead" class="heading">Average Speed:</div>
			<div id="avgSpeed" class="data"></div>
		<div id="tripDistTraveledHead" class="heading">Dist. Traveled:</div>
			<div id="distTraveled" class="data"></div>
		<div id="tripDistFromInitHead" class="heading">Dist. from First Pos.:</div>
			<div id="distFromInit" class="data"></div>
		<div id="tripLifetimeHead" class="heading">Lifetime Distance:</div>
			<div id="lifeDist" class="data"></div>
	</div>
</div>

<div id="addressInfo">
	<div x-mojo-element="Button" id="addressButton"></div>
	<div id="address" class="palm-group">
		<div class="palm-group-title">Address</div>
		<div id="address1"></div>
		<div id="address2"></div>
	</div>
</div>
