<div id="dashboard">
	<div style="margin-left: 15px;">
		<div id="dashSpeed" class="dashboardInfo"></div>
		<div id="dashHeading" class="dashboardHeading"></div>
	</div>
	<div id="dashAltitude" class="dashboardInfo"></div>
	<div id="dashAvgSpeed" class="dashboardInfo"></div>
	<div id="dashTopSpeed" class="dashboardInfo"></div>
	<div id="dashDistTraveled" class="dashboardInfo"></div>
	<div id="dashDistFromInit" class="dashboardInfo"></div>
	<div id="dashLifeDist" class="dashboardInfo"></div>
	<div id="dashTripDuration" class="dashboardInfo"></div>
	<div id="dashAccuracy" style="margin-left: 20px">Low Satellite Strength</div>
</div>