#accountExistsHead {
	margin: 5px;
	float: left;
}
#accountExists {
	margin: 5px;
	float: left;
	width: 50px;
}

#displayNameHead {
	margin: 5px;
	float: left;
}

#displayName {
	margin: 5px;
	float: left;
}
