<div id="netMinMaxGroup" class="palm-group">
	<div class="palm-group-title">   
		<div id="currentTitle">Net Acceleration Max</div>
	</div>
	<div class="netTitle">Max:</div><div id="netMax" class="maxData"></div>
</div>
<div id="reset" x-mojo-element="Button"></div>
<table class="palm-divider collapsible" x-mojo-touch-feedback="delayed">
  <tr>
      <td class="left"></td>
      <td class="label">Raw Data</td>
      <td class="line" width="100%"></td>
      <td><div id="rawDivider" class="palm-arrow-closed arrow_button"></div></td>
      <td class="right"></td>
    </tr>
 </table>

<div x-mojo-element="Drawer" class="" id="rawDrawer"> 
	<div id="rawDataGroup" class="palm-group">
		<div class="palm-group-title">   
			<div id="currentTitle">Raw Data</div>
		</div>
		<div class="rawTitle">X Acceleration:</div><div id="accelX" class="rawData"></div>
		<div class="rawTitle">Y Acceleration:</div><div id="accelY" class="rawData"></div>
		<div class="rawTitle">Z Acceleration:</div><div id="accelZ" class="rawData"></div>
	</div>
</div>
<div id="xMinMaxGroup" class="palm-group">
	<div class="palm-group-title">   
		<div id="currentTitle">X-Axis Min/Max</div>
	</div>
	<div class="netTitle">Min:</div><div id="xMin" class="minData"></div>
	<div class="netTitle">Max:</div><div id="xMax" class="maxData"></div>
</div>
<div id="yMinMaxGroup" class="palm-group">
	<div class="palm-group-title">   
		<div id="currentTitle">Y-Axis Min/Max</div>
	</div>
	<div class="netTitle">Min:</div><div id="yMin" class="minData"></div>
	<div class="netTitle">Max:</div><div id="yMax" class="maxData"></div>
</div>
<div id="zMinMaxGroup" class="palm-group">
	<div class="palm-group-title">   
		<div id="currentTitle">Z-Axis Min/Max</div>
	</div>
	<div class="netTitle">Min:</div><div id="zMin" class="minData"></div>
	<div class="netTitle">Max:</div><div id="zMax" class="maxData"></div>
</div>