<img id="background" class="" src="images/background.png" alt="" />
<img id="cup" class="" src="images/FeltCupStroked.png" alt="" />

<div id='farkle'>Farkle!</div>

<img id="die1" class="dice" alt="" />
<img id="die2" class="dice" alt="" />
<img id="die3" class="dice" alt="" />
<img id="die4" class="dice" alt="" />
<img id="die5" class="dice" alt="" />
<img id="die6" class="dice" alt="" />

<div id="placeholder1-1" class="placeholder"></div>
<div id="placeholder1-2" class="placeholder"></div>
<div id="placeholder1-3" class="placeholder"></div>
<div id="placeholder1-4" class="placeholder"></div>
<div id="placeholder1-5" class="placeholder"></div>
<div id="placeholder1-6" class="placeholder"></div>
<div id="placeholder2-1" class="placeholder"></div>
<div id="placeholder2-2" class="placeholder"></div>
<div id="placeholder2-3" class="placeholder"></div>
<div id="placeholder2-4" class="placeholder"></div>
<div id="placeholder2-5" class="placeholder"></div>
<div id="placeholder3-1" class="placeholder"></div>
<div id="placeholder3-2" class="placeholder"></div>
<div id="placeholder3-3" class="placeholder"></div>
<div id="placeholder3-4" class="placeholder"></div>
<div id="placeholder4-1" class="placeholder"></div>
<div id="placeholder4-2" class="placeholder"></div>
<div id="placeholder4-3" class="placeholder"></div>
<div id="placeholder5-1" class="placeholder"></div>
<div id="placeholder5-2" class="placeholder"></div>
<div id="placeholder6-1" class="placeholder"></div>

<div id="scoreBox">
	<div id="currentScore" class=""></div>
	<div id="currentScoreHighlight" class="hidden"></div>
	<div id="currentScoreHead" class="scoreHead">Current Score:</div>
	<div id="currentScoreDummy" class="score"></div>
	<div id="totalScoreHead" class="scoreHead">Total Score:</div>
	<div id="totalScore" class="score"></div>
	<div id="roundHead" class="scoreHead">Round:</div>
	<div id="round" class="score"></div>
</div>
