<div id="appHeader" class="palm-header">
	<div class="palm-header-wrapper title center" >FreeFall - Top Scores</div>
</div>

<div class="palm-header-spacer"></div>

<div id="num"></div>
<div><div id="name1"></div><div id="score1"></div></div>
<div><div id="name2"></div><div id="score2"></div></div>
<div><div id="name3"></div><div id="score3"></div></div>
<div><div id="name4"></div><div id="score4"></div></div>
<div><div id="name5"></div><div id="score5"></div></div>
<div><div id="name6"></div><div id="score6"></div></div>
<div><div id="name7"></div><div id="score7"></div></div>
<div><div id="name8"></div><div id="score8"></div></div>
<div><div id="name9"></div><div id="score9"></div></div>
<div><div id="name10"></div><div id="score10"></div></div>


