<div id="appHeader" class="palm-header">
	<div class="palm-header-wrapper title center" >FreeFall - Top Scores</div>
</div>

<div class="palm-header-spacer"></div>

<div id="scoreTable">
	<div class="head">Name</div><div class="head">Score</div>
	<div id="name1" class="name"></div><div id="score1" class="score"></div>
	<div id="name2" class="name"></div><div id="score2" class="score"></div>
	<div id="name3" class="name"></div><div id="score3" class="score"></div>
	<div id="name4" class="name"></div><div id="score4" class="score"></div>
	<div id="name5" class="name"></div><div id="score5" class="score"></div>
	<div id="name6" class="name"></div><div id="score6" class="score"></div>
	<div id="name7" class="name"></div><div id="score7" class="score"></div>
	<div id="name8" class="name"></div><div id="score8" class="score"></div>
	<div id="name9" class="name"></div><div id="score9" class="score"></div>
	<div id="name10" class="name"></div><div id="score10" class="score"></div>
</div>

