<div id="appHeader" class="palm-header">
	<div class="palm-header-wrapper" >
		<div class="title center">Record Keeping</div>
	</div>
</div>

<div id="palm-header-spacer" class="palm-header-spacer"></div>

<div class="palm-group">
	<div class="palm-group-title">Top Speed</div>
	<div id="alltimeTopSpeed" class="data"></div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Highest Elevation</div>
	<div id="alltimeHigh" class="data"></div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Lowest Elevation</div>
	<div id="alltimeLow" class="data"></div>
</div>
