/*
#table {
	border-collapse: collapse;
}
#table th, #table td {
	border: 1px solid black;
}
*/
#table th {text-align: right;}
#announce {
	text-align: center;
	margin-top: 80px;
}
#announce.hidden {
	opacity: 0;
}

#leftGroup {
	padding: 0;
	border: 0;
	margin: 0;
	margin-top: 50px;
/*	margin-left: 20px; */

/*	width: 85%; */
	float: none;
}
#leftGroup.landscape {
	margin-top: 50px;
	margin-left: 20px;

	width: 85%;
	float: left;	
}

#address {
	margin-top: 10px;	

	width: 85%;
	float: none;
	opacity: 1;
}
#address.landscape {
	margin-top: 10px;	

	width: 85%;
	float: left;
	opacity: 1;
}
address.hidden {
	opacity: 0;
}
