#head {
	text-align: center;
}
#announce {
	text-align: center;
	margin-top: 25px;
}
#speed {
	margin-top: 25px;
	margin-left: 20px;
}
.announcement {
	margin-top: 10px;
	margin-left: 20px;
}