.hidden { display: none }
#background { z-index: -1; }

#scoring {
	border: solid;
	border-color: #468c45;
	border-width: 6px;
	z-index: 15;
	position: absolute;
	top: 15px;
	left: 15px;
	
}
#help {
	color: #468c45;
	z-index: 15;
	position: absolute;
	top: 30px;
	left: 148px;
	width: 150px;
}
#helpBody {
	color: white;
	font-size: 80%;
}
#scoringOkButton {
	margin-top: 10px;
}
#farkle {
	font-size: 350%;
	position: absolute;
	top: 120px;
	left: -320px;
	width: 320px;
	text-align: center;
	z-index: 10;
	color: red;
	-webkit-transform: rotate(-180deg);
	-webkit-transition-duration: 1s;
	-webkit-transform-origin: left;
}

.dice {
	z-index: 4;
	position: absolute;
	-webkit-transition-duration: .5s;
}

#die1 {}
#die2 {}
#die3 {}
#die4 {}
#die5 {}
#die6 {}

#cup {
	position: absolute;
	top: 315px;
	left: 214px;
}

#cup.shake {
	-webkit-animation: 'wobble' .3s;
	-webkit-animation-iteration-count: 3; 
}
@-webkit-keyframes 'wobble' {
	0% {
		-webkit-transform: rotate(-30deg);
	}
	40% {
		-webkit-transform: rotate(30deg);
	}
	60% {
		-webkit-transform: rotate(-30deg);
	}
	100% {
		-webkit-transform: rotate(30deg);
	}
}

.placeholder {
	z-index: 2;
	position: absolute;
	background-color: #306642;
	width: 43px;
	height: 43px;
}

#placeholder6-1 { left: 14px; top: 14px; }

#placeholder5-1 { left: 14px; top: 64px; }
#placeholder5-2 { left: 64px; top: 64px; }

#placeholder4-1 { left: 14px; top: 114px; }
#placeholder4-2 { left: 64px; top: 114px; }
#placeholder4-3 { left: 114px; top: 114px; }

#placeholder3-1 { left: 14px; top: 164px; }
#placeholder3-2 { left: 64px; top: 164px; }
#placeholder3-3 { left: 114px; top: 164px; }
#placeholder3-4 { left: 164px; top: 164px; }

#placeholder2-1 { left: 14px; top: 214px; }
#placeholder2-2 { left: 64px; top: 214px; }
#placeholder2-3 { left: 114px; top: 214px; }
#placeholder2-4 { left: 164px; top: 214px; }
#placeholder2-5 { left: 214px; top: 214px; }

#placeholder1-1 { left: 14px; top: 264px; }
#placeholder1-2 { left: 64px; top: 264px; }
#placeholder1-3 { left: 114px; top: 264px; }
#placeholder1-4 { left: 164px; top: 264px; }
#placeholder1-5 { left: 214px; top: 264px; }
#placeholder1-6 { left: 264px; top: 264px; }

#scoreBox {
	background-color: white;
	border: solid;
	border-color: black;
	border-width: 5px;
	position: absolute;
	top: 314px;
	left: 12px;
	width: 188px;
	height: 123px;
}
.scoreHead {
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	font-size: 90%;
	width: 120px;
	padding-bottom: 3px;
}
.score {
	padding-right: 3px;
	padding-bottom: 3px;
	width: 55px;
	text-align: right;
	margin-top: 10px;
	font-size: 90%;
	float: left;
}
#currentScore {
	padding-bottom: 3px;
	padding-right: 3px;
	font-size: 90%;
	text-align: right;
	position: absolute;
	height: 22px;
	width: 54px;
	top: 10px;
	left: 125px;
}
#currentScore.highlighted {
	position: absolute;
	top: 8px;
	left: 123px;
	border: solid;
	border-color: red;
	border-width: 2px;
}

.topNameHead {
	float: left;
	width: 38%;
	text-align: center;
}
.topScoreHead {
	float: left;
	width: 28%;
	text-align: center;
}
.topDateHead {
	float: left;
	width: 31%;
	text-align: center;
}
.topName {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	width: 42%;
}
.topScore {
	text-align: center;
	float: left;
	width: 20%;
}
.topDate {
	text-align: center;
	float: left;
	width: 38%;
}
